---
---
{% include fragment-pagebegin.html %}
<div class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->


  {% include fragment-quest-navtabs.html type='{{[type]}}' id='{{[id]}}' active='form' %}


  <a name="root"> </a>
  <h2 id="root">{{site.data.pages[page.path].title}}</h2>

  <br/>
  <p>This is a simplified preview of the Questionnaire resource.</p>
  <p>For a fully functional rendering, please consult the list of <a href="https://confluence.hl7.org/display/FHIRI/SDC+Implementations">SDC Implementations</a>, namely those implementing the Form Designer or Form Filler actor.</p>

<div id=formContainer></div>
<br> </br>

    <br> </br>
    
    <script src="{{site.data.info.assets}}assets/js/lforms.min.js"></script>
    <script src="{{site.data.info.assets}}assets/js/lformsFHIR.min.js"></script>

 
    <script>
      var fhirQ = {% include {{[type]}}-{{[id]}}.json %};
    </script>
    <script src="{{site.data.info.assets}}assets/js/loadquestionnaire.js"></script>



{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
